.tm-nav{
    $self: &;
    @extend .w-100;
    z-index:1;
    &__content{
        @extend 
            .d-flex,
            .align-items-center,
            .justify-content-center,
            .justify-content-md-start,
            .w-100;
        margin: auto;
        height: $navbar-height;
        @include media-breakpoint-up(md) {            
            height: $navbar-md-height;
        }
        > * {
            &:not(:first-child) {
                @include media-breakpoint-up(md) {
                    padding-left: 16px;
                }
            }
            &:not(:last-child) {
                @include media-breakpoint-up(md) {
                    padding-right: 16px;
                }
            }
        }
    }
    &__logo{        
        @extend 
            .d-flex,
            .align-items-center,
            .h-100,
            .d-inline-block;
        img {
            height:40%;
        }
    }
    &__links{
        @extend 
            .ml-auto,
            .d-md-flex,
            .align-items-center,
            .d-none;
    }
    &__link {
        @extend 
            .ml-auto,
            .px-4,
            .text-shadow-stylish,
            .text-white,
            .text-uppercase;
        font-size:11px;
        font-weight:bold;
        letter-spacing:1px;
    }
    &__menu {
        @extend 
            .d-inline-flex,
            .d-md-none,
            .position-absolute;
        background:none;
        border:none;
        left:16px;
        color:$white;
    }
    position:absolute;
}