doctype html
html(lang="en-CA")
    head 
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
        title= htmlWebpackPlugin.options.title

        - var thumbnail = 'https://dylandaviddavies.github.io' + require('@/assets/thumbnail.png')
        meta(property="og:url" content="https://dylandaviddavies.github.io/tamsin.io")
        meta(property="og:title" content="tamsin.io")
        meta(property="og:description" content="Vue+Pug+Sass mockup by Dylan Davies")
        meta(property="og:site_name" content="tamsin.io")
        meta(property="og:image" content=thumbnail)
        meta(property="fb:app_id" content="1345605492308388")
        meta(property="og:type" content="website" )
        meta(property="og:locale" content="en_CA")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:title" content="tamsin.io")
        meta(name="twitter:description" content="Vue+Pug+Sass mockup by Dylan Davies")
        meta(name="twitter:image" content=thumbnail)
        
        script(src="https://kit.fontawesome.com/2c7ccbb05b.js" crossorigin="anonymous")
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-145816593-3")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-145816593-3');

    body
        #app