.tm-hero {
    $self: &;
    @extend 
        .d-flex,
        .justify-content-center,
        .align-items-center,
        .position-relative;
    background-position:center;
    background-size: cover;
    &__title {
        @extend 
            .text-shadow-stylish,
            .text-center;
        @include media-breakpoint-up(lg){
            font-size:50px;
        }
    }
    &__subtext {      
        font-size:18px;
        @include media-breakpoint-up(md){
            font-size: 24px;
        }
    }
    &__content {        
        @extend 
            .d-flex,
            .align-items-center,
            .flex-column,
            .position-relative;
        z-index:1;
    }
}