// Colours
$primary: #1d1d1d;
$white: #fff;
$light-text-colour: #7f7f7f;
$bg-colour: #fafafa;

$colours: (
    primary: $primary,
    white: $white
);

$box-shadow-colours: ();
@each $k, $v in $colours {
    $box-shadow-colours: map-merge(
        $box-shadow-colours,
        ($k: $v)
    );
}

// Typography
$font-family: 'Raleway', sans-serif;
$button-font-family: 'Raleway', sans-serif;
$title-font-family: 'Raleway', sans-serif;

$fonts: (
    title: $title-font-family,
    button: $button-font-family,
    main: $font-family
);

$text-shadows: (
    none: none,
    stylish: .05em .05em rgba(0,0,0,.2),
    sharpen: .01em .01em rgba(0,0,0,.3)
);

// Navigation
$navbar-height: 55px;
$navbar-md-height: 65px;

// Box Shadows
$box-shadows: (
    none: none,
    sm: 0 .125rem .25rem,
    md: 0 .5rem 1rem,
    lg: 0 1rem 3rem
);

// Directions
$directions: (
    l: 'left',
    t: 'top',
    r: 'right',
    b: 'bottom'
);
$direction-values: (
    n1: -1px,
    0: 0
);

// Z-indexes
$z-indexes: (
    n1: -1,
    0: 0,
    1: 1
);